[*.cs]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none
csharp_space_after_keywords_in_control_flow_statements=false
csharp_style_namespace_declarations=file_scoped:suggestion
